/* Estilos para el formulario */
#formulario {
  background: linear-gradient(to bottom, #4AB165, #ff9500);
  width: 95%;
  max-width: 800px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  border: 2px solid black;
}

h2 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 30px;
}

input[type="text"], input[type="email"], select, textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  font-size: 1.5em;
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin-right: 10px;
}

textarea {
  height: 150px;
  resize: none;
  font-size: 1.5em;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  font-size: 1.8em;
  background-color: #D21A26;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #282726;
}

#mensajeContador {
  text-align: right;
  font-size: 1em;
}