body{
margin:0;
min-height: 100vh;
background-color: #f7dbbc;
}
h2{
   margin: 100px 100px 50px 200px;
   line-height: 25px;
   font-size: 3em;
}

#carrusel{
   margin: 300px auto;
   width: 600px;
   max-width: 100%;
   text-align: center;
}
#carrusel input[type=radio]{
   display: none;
}
#carrusel label{
   cursor: pointer;
   text-decoration: none;
}

#fotos{
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
}
#desborde{
   width: 100%;
   overflow: hidden;
}
#foto1:checked ~ #fotos .interior{
margin-left:0;
}
#foto2:checked ~ #fotos .interior{
margin-left:-100%;
}
#foto3:checked ~ #fotos .interior{
margin-left:-200%;
}
#foto4:checked ~ #fotos .interior{
margin-left:-300%;
}
#foto5:checked ~ #fotos .interior{
margin-left:-400%;
}
#fotos .interior{
   transition: margin-left 800ms cubic-bezier(0.770, 0.000,0.175, 1.000);
   width: 500%;
   line-height: 0;
   height: 300px;
}
#fotos .cuadro{
   width: 20%;
   float: left;
   display: flex;
   justify-content: center;
	align-items: center;
	height: 100%;
   color: #fff;
}
#fotos .foto_1{
   background: #113d1c;
}
#fotos .foto_2{
   background: #3A7563;
}
#fotos .foto_3{
   background: #59A985;
}
#fotos .foto_4{
   background: #9cf1cb;
}
#fotos .foto_5{
   background: #E6D3A7;
}
/* .contenido{
   padding: 10px;
} */
#fotos img
{
   width: 574px;
   height: 300px;
}
#control{  
	margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#control label{
	transition: opacity 0.2s ease-out;
   display: none;
   opacity: .4;
   }
#control label :hover{
   opacity: 1;
}
#foto1:checked ~ #control label:nth-child(2)
#foto2:checked ~ #control label:nth-child(3)
#foto3:checked ~ #control label:nth-child(4)
#foto4:checked ~ #control label:nth-child(5)
#foto5:checked ~ #control label:nth-child(1){
   background: url(./image2.png) no-repeat;
   width: 30px;
   height: 30px;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#foto1:checked ~ #control label:nth-last-child(2)
#foto2:checked ~ #control label:nth-last-child(3)
#foto3:checked ~ #control label:nth-last-child(4)
#foto4:checked ~ #control label:nth-last-child(5)
#foto5:checked ~ #control label:nth-last-child(1){
   background: url(./chevron-left-solid.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#puntos{
   margin: 150px 0 0;
   text-align: center;
}
#puntos label{
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	background: #9cf1cb;
	border: 5px solid #3A7563;
   margin: 0 10px;
}
#foto1:checked ~ #puntos label:nth-child(1)
#foto2:checked ~ #puntos label:nth-child(2)
#foto3:checked ~ #puntos label:nth-child(3)
#foto4:checked ~ #puntos label:nth-child(4)
#foto5:checked ~ #puntos label:nth-child(5){
background: #ff0101;
}
@media screen and (max-width: 900px) {
   #foto1:checked ~ #control label:nth-child(2),
   #foto2:checked ~ #control label:nth-child(3),
   #foto3:checked ~ #control label:nth-child(4),
   #foto4:checked ~ #control label:nth-child(5),
   #foto5:checked ~ #control label:nth-child(1),
   #foto1:checked ~ #control label:nth-last-child(2),
   #foto2:checked ~ #control label:nth-last-child(3),
   #foto3:checked ~ #control label:nth-last-child(4),
   #foto4:checked ~ #control label:nth-last-child(5)
   #foto5:checked ~ #control label:nth-last-child(1) 
   {
      margin: 0;
   }
   #fotos {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}