

.contenido{
   display: flex;
   flex-direction: column;
   justify-content:space-between;
   align-items: center;
   width: 100%;
   padding: 10px;
   box-sizing: border-box;
}

.titulo {
   flex: 1;
   text-align: center;
   font-size: 1.5em;
}

.celda p{
flex:1;
height: 450px;
font-size: 1.2em;
line-height: 35px;
}
.mapa{
   padding: 10px;
   border: 3px solid #ccc;
   border-radius: 3%;
   background: #4AB165;
   position: relative;
   z-index: 1;
   margin-bottom: 50px;
}

.receta iframe{
   padding: 10px;
   border: 3px solid #ccc;
   border-radius: 3%;
   background: #4AB165;
   position: relative;
   z-index: 1;
   margin-top: 10px;
   margin-bottom: 50px;
}

/* PC escritorio */
/*@media (max-width: 952px)

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
   .enlace{
   padding: 5px,20px;
   padding-left: 10px;
   }
   nav ul li a {
      font-size: 20px;
   }
}

.nav img{
   width: 200px;
   height: auto;
}

/* Celular (pantallas menores o iguales a 767px) */
@media (max-width: 767px) {
.checkbtn {
   display: block;
}
ul{
   position: fixed;
   width: 50%;
   height: 50vh;
   background: #ff9500;
   top: 150px;
   left: -100%;
   text-align: center;
   transition: all 0.5s;
}
nav ul li{
   display: block;
   margin: 50px 0;
   line-height: 30px;
}
nav ul li a{
   font-size: 20px;
}
li a:hover, li a.active{
   background: #4AB165;
}
#check:checked ~ ul{
   left: 0;
}
}

/* Paleta de colores 
#022601
#FE3E00
#FFD7B7
#282726
#00562F
#FF9500
#4AB165
 */